Imprima los dos ultimos nombres de la siguiente lista, y los dos primeros de la siguiente tupla:

In [1]:
tupla=("Saturno","Neptuno","Urano","Venus","Jupiter")
lista = ["Odin","Loki","Thor","Freya","Mimmer","Hugen","Munen","Balder","Iduna"]
print(lista[-2:],tupla[0:2])

['Balder', 'Iduna'] ('Saturno', 'Neptuno')

Imprima al reverso la siguiente frase:

In [2]:
frase = "Dioses Romanos y Dioses Nordicos"
print(frase[::-1])

socidroN sesoiD y sonamoR sesoiD

Ahora imprima por separado "Dioses Romanos" y "Dioses Nordicos"

In [3]:
print(frase[0:14],frase[16:])

Dioses Romanos  Dioses Nordicos

Agregue un nuevo elemento al siguiente diccionario

In [4]:
dic = { 'Autos': 10, 'Aviones': 4}
dic['Barcos'] = 7
print(dic)

{'Autos': 10, 'Aviones': 4, 'Barcos': 7}

Cambie todos los nombres, menos el primero y el ultimo, de la lista, por "Billy"

In [5]:
for i in range(1,(len(lista)-1)):
        lista[i] = 'Billy'
print(lista)

['Odin', 'Billy', 'Billy', 'Billy', 'Billy', 'Billy', 'Billy', 'Billy', 'Iduna']

Cree una lista vacia y agreguele 10 numeros pares, partiendo del 0

In [6]:
lista2= []
for i in range(0,10):
    lista2.append(i * 2)
print(lista2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Sume 1 a todos los elementos de la lista anterior

In [7]:
for i in range(0,len(lista2)):
    lista2[i] = lista2[i] + 1
print(lista2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]